<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <style>
      #bg {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
      #firstPanel {
        margin-top: 5%;
      }
      #rightFloatInFirst {
        margin-left: 5%;
      }
      #rightFloatInFirst {
        margin-top: 0.5%;
        margin-left: 5%;
      }
      .table {
        text-align: center;
        border-spacing: 5px;
        border-collapse: separate;
        border: 3px solid black;
      }

      /*.forTable {
        border-spacing: 5px;
        border-collapse: separate;
        border: 3px solid black;
      }*/

      .forSome {
        background-color: black;
      }

      /*#firstInFirst {
        float: left;
      }
      #secondInFirst {
        float:right;
      }
      #textFirstInFirst {
        text-align: center;
      }*/
    </style>
</head>
<body>

<img class="img-responsive" src="http://img.mota.ru/upload/wallpapers/2013/10/16/16/00/37749/GfCF6F8zDn-preview.jpg" id="bg" alt="">

<div class="col-md-8 col-md-offset-2" id="firstPanel">
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6">
            <div class="container">
              <h4 id="rightFloatInFirst"><strong><i>BIG ERROR!!!!</i></strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
