<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.6-dist/css/bootstrap.css">
    <style>
      #bg {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
      #firstPanel {
        margin-top: 5%;
      }
      #rightFloatInFirst {
        margin-left: 5%;
      }
      #rightFloatInFirst {
        margin-top: 0.5%;
        margin-left: 5%;
      }
      .table {
        text-align: center;
        border-spacing: 5px;
        border-collapse: separate;
        border: 3px solid black;
      }

      /*.forTable {
        border-spacing: 5px;
        border-collapse: separate;
        border: 3px solid black;
      }*/

      .forSome {
        background-color: black;
      }

      /*#firstInFirst {
        float: left;
      }
      #secondInFirst {
        float:right;
      }
      #textFirstInFirst {
        text-align: center;
      }*/
    </style>
</head>
<body>

<img class="img-responsive" src="http://img.mota.ru/upload/wallpapers/2013/10/16/16/00/37749/GfCF6F8zDn-preview.jpg" id="bg" alt="">

<div class="col-md-8 col-md-offset-2" id="firstPanel">
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-6">
            <div class="container">
              <h4 id="rightFloatInFirst"><strong><i>Свет Истины<br>Распорядок комнат</i></strong></h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
                <!--<div id="rightFloatInFirst">
                  <a href="#" class="btn btn-primary btn-lg active" role="button">Дата</a>
                  <a href="#" class="btn btn-primary btn-lg active" role="button">Команаты</a>
                </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
              <table class="table" border="1">

                <tr class="forTable">
                  <td rowspan="2"  onclick="document.location='https://vk.com/'"><a href ="https://vk.com/">13.10<br>Среда</a></td>
                  <td colspan="2">8</td>
                  <td colspan="2">9</td>
                  <td colspan="2">10</td>
                  <td colspan="2">11</td>
                  <td colspan="2">12</td>
                  <td colspan="2">13</td>
                  <td colspan="2">14</td>
                  <td colspan="2">15</td>
                  <td colspan="2">16</td>
                </tr>
                <tr class="forTable">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>1 эт. Зал</td>
                  <td></td>
                  <td></td>
                  <td class="forSome"></td>
                  <td class="forSome"></td>
                  <td class="forSome"></td>
                  <td class="forSome"></td>
                  <td class="forSome"></td>
                  <td class="forSome"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>0 эт. Лев. крыло</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>0 эт. Пр. крыло</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>Кухня</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>Холл</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>Детск.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>Пастор.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
